// Stylings for the Heading Banner.

@import url(https://fonts.googleapis.com/css?family=Niconne);

// Font Variables
$font-niconne: 'Niconne', cursive;

.b-banner {
  background-color: $banner-background;
  padding: 8px 0;
}

.b-banner-content {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.b-banner-logo {
  color: $primary-teal;
  background-image: url("./resources/logo.png");
  height: 200px;
  width: 200px;
  background-size: cover;
}

.b-banner-title {
  color: $banner-text-1;
  text-align: right;
  font-size: 24px;
  padding: 24px 0;
  font-family: $font-niconne;
}