// Color variables

$primary-teal: #256767;
$primary-gold: #F98125;

$background-color: #FFF0E8;

$banner-background: #FFF8F5;
$banner-text-1: rgba(17, 80, 80, 1);
$banner-text-2: rgba(17, 80, 80, 0.9);
$banner-text-3: rgba(17, 80, 80, 0.7);
$banner-text-4: rgba(17, 80, 80, 0.5);
$banner-text-5: rgba(17, 80, 80, 0.3);
$banner-text-6: rgba(17, 80, 80, 0.1);

$content-text: #023636;