// Color variables

$primary-teal: #256767;
$primary-gold: #F98125;

$secondary-gold: lighten($primary-gold, 5%);

$background-color: #FFF0E8;

$banner-background: #FFF8F5;
$banner-text: rgba(17, 80, 80, 0.8);

$content-text: #023636;